<h4>Application Form</h4>
<!-- An "action" in the form specifies where the data in the form is supposed to be sent when we click the submit button. 
Here, if we submit application for job with id=1 then when we click the submit button the data will be sent to the URL with route "/job/1/apply"

When we are submitting the form using "post" method than we need to process the information submitted using post method too.
-->
<form action="/job/{{job['id']}}/apply" method="post">
  <div class="mb-2">
    <label>Full Name</label><br>
    <input type="text" name="full_name" placeholder="Enter your name...">
  </div>
  <div class="mb-2">
    <label>Email</label><br>
    <input type="text" name="email" placeholder="Enter your email...">
  </div>
  <div class="mb-2">
    <label>LinkedIn URL</label><br>
    <input type="text" name="linkedin_url" placeholder="Enter your LinkedIn URL...">
  </div>
  <div class="mb-2">
    <label>Education</label><br>
    <textarea name="education"></textarea>
  </div>
  <div class="mb-2">
    <label>Work Experience</label><br>
    <textarea name="work_experience"></textarea>
  </div>
  <div class="mb-2">
    <label>Resume URL</label><br>
    <input type="text" name="resume_url">
  </div>
  
  <input type="submit">
</form>