<div class="row border-bottom" style="margin-bottom: 16px; padding-bottom: 8px">
  <div class="col-10">
    <h4 style="color: rgb(120,120,120); margin-bottom: 4px;">
    {{job['title']}}
    </h4>
    <div>
      <b>Location: </b> {{job['location']}}
    </div>
    {% if 'salary' in job %}
    <div>
      <b>Salary: </b> {{job['salary']}}
    </div>
    {% endif %}
  </div>
  <div class="col-2">
    <a href="mailto:hello@jovian.ai?subject=Application%20for%20{{job['title']}}&body=My%20name%3A%20%3CYour%20name%3E%0D%0AMy%20Resume%20link%3A%20%3CResume%20link%3E%0D%0AMy%20LinkedIn%20link%3A%20%3CLinkedin%20link%3E" type="button" class="btn btn-outline-success">Apply</a>
  </div>
</div>
<!-- 
"mailto:" opens us the default mail program and it creates a new message with TO field already field 
We can go to the website "https://mailtolink.me/" for creating custom "mailto:" URL
-->